<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	<div id="content">
		<h1>Hi! I'm Keith</h1>
		<p> Welcome to my blog. This is a demo I used to learn a bit about Ruby on Rails along with some other cool design stuff.</p>
		<p>I'll also be learning how to add this application to my server so it can be live and so that somebody will actually be able to see it! </p>
		<p>It will be pretty neat, indeed.</p>




	</div>


</div>