<div id="page_wrapper">
	<div id="content">
		<h1>30 Day Photography Challenge!</h1>
		<p class="challenge">Day 1 - Portrait - 80mm 1.8
		<img src="http://i.imgur.com/7prnLSf.jpg"></a></p>
		<br>
		<p class="challenge">Day 2 - Thirds - 80mm 1.8
		<img src="http://i.imgur.com/h4Iihhs.jpg"></a>
		 80mm 1.8
		<img src="http://i.imgur.com/WS4JXKN.jpg"></a></p>
		<br>




	</div>


</div>