/* Colors */

$bgcolor: rgba(228, 240, 250, 1.0);
$hilight: rgba(90, 110, 120, .8);
$text: rgba(169, 189, 199, 1.0);
$darktext: rgba(85, 85, 85, 1.0);


/* FONTS */

$headfont: 'raleway' sans-serif;
$bodyfont: 'Roboto Slab', sans-serif;