@import 'normalize';
@import 'style';

html, body {
	font-family: $bodyfont;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: $bgcolor;
	padding: 6.5em 0 0 .5em;
	border-right: 1px solid $text;

	#logo img{
		
		width: 75px;
		position: absolute;
		right: 4.2em;
		top: 2em;
	}
	ul {
		font-family: $headfont;
		list-style: none;
		text-align: center;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 1em;
			text-transform: uppercase;
			color: $hilight;

		}
		li {
			padding: .5em 0;
			a {
				color: $text;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: $hilight;
				}
			}
		}
		.active {
			a {

				color: $hilight;
			}
		}
	}
	.sign_in {

		position: absolute;
		padding: 0em 0 0 4.75em;
		top: 80%;
		font-size: .8em;
		color: $text;
		transition: all .4s ease;
				&:hover {
					color: $hilight;
				}
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid $text;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	transition: all .4s ease;
	&:hover {
		transition: all .4s ease;
		border: 1px solid $hilight;
		color: $hilight;
		a {
			
			color: $hilight !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#main_content {
	margin-left: 200px;
	#header {
		padding: 1em 3em;
		border-bottom: 1px solid $text;
		background: $bgcolor;
		color: $text;
		p {
			display: inline;
		}
		a {
			color: $text;
			text-decoration: none;
			transition: all .4s ease;
				&:hover{
				color: $hilight;
				}
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		}
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid $text;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: $darktext;
				font-size: 1.5em;
				transition: all .9s ease;
				&:hover {
					transition: all .4s ease;
					color: $hilight;
				}
			}
		}
		.date {
			color: $darktext;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;

		.title {
			font-weight: 500;
			text-decoration: none;
			color: $darktext;
			font-size: 2.5em;
			margin-bottom: 0;			
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date {
			color: $darktext;
			margin: .5em 0 2em 0;
		a{
		color: $hilight;
			&:hover {
			transition: all .4s ease;
			color: $darktext;
			}

		}
		}
		#comments {
			color: $darktext;
			h2 {

				margin: 3em 0 1em 0;
				border-bottom: 1px solid $text;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid $text;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}

	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.5em;
			}
		}
		#river {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.5em;
			}}
			#image3 {
			width: 200px;
			float: right;
			margin-left: 1em;
			img {
				width: 100%;
				border-radius: 0.5em;
			}}
			#image4 {
			width: 200px;
			float: right;
			margin-left: 1em;
			img {
				width: 100%;
				border-radius: 0.5em;
			}}
			#image5 {
			width: 200px;
			float: right;
			margin-left: 1em;
			img {
				width: 100%;
				border-radius: 0.5em;
			}}
		#content {
			h1 {
				color: $darktext;
				font-weight: 500;
			}
			p {
				color: $darktext;
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: $hilight;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid $text;
		border-radius: em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		color: $text;
		outline: none;
		background: transparent;
		border: 1px solid $text;
		padding: .5em 1.5em;
		font-size: 1.1em;
		border-radius: 1.5em;
		margin-left: .5em;
		transition: all .9s ease;
		&:hover {
			transition: all .4s ease;
			border: 1px solid $hilight;
			color: $hilight;
		}
	}
}
	#page_wrapper_signup {
	display: none !important;
	}

#flash {
	font-size: 1.5em;
	font-weight: 900;
	color: $hilight;
	position: absolute;
	top: -0.5em;
	right: 35%;	
}
.challenge {
			width: 700px;

			img {
				width: 100%;
				border-radius: 0.5em;
				}
			}